<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 3</title>
</head>

<body>
<div style="border: 2px solid;">
  <table>
    <tbody>
    <tr *ngFor="let phone of phoneList; let i = index">
      <td>
        <app-phone-list-item
          [phone]="phone"
          [ngClass]="{'even-item': i % 2 === 0, 'odd-item': i % 2 !== 0}">
        </app-phone-list-item>
      </td>
    </tr>
    </tbody>
  </table>
</div>


</body>

</html>
