<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 3</title>
</head>

<body>
<div style="border: 2px solid;">
  <table>z
    <tbody>
    <tr *ngFor="let phone of phoneList" (click)="selectPhone(phone)">
      <td>{{phone.company}}</td>
      <td>{{phone.storage}}</td>
      <td>{{phone.smartPhone ? 'Yes' : 'No'}}</td>
      <td>{{phone.id}}</td>
      <td>{{phone.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
