.even-item {
  background-color: pink;
}

.odd-item {
  background-color: teal;
}


.phone-list-item {
  padding: 10px;
  border: 2px solid;
  margin: 5px 0;
}

*{
  width: 20rem;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

