<table *ngIf="phone" class="phone-list">
  <thead>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>ID</th>
    <th>Company</th>
    <th>Price</th>
    <th>Storage (GB)</th>
    <th>Smartphone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <img [src]="phone.imageUrl" alt="{{ phone.name }}" class="phone-image" />
    </td>
     <td>{{ phone.id }}</td>
    <td>{{ phone | model | uppercase }}</td>
    <td>{{ phone.price | currency: 'CAD': "symbol-narrow" }}</td>
    <td>{{ phone.storage }}</td>
    <td>{{ phone.smartPhone ? 'Yes' : 'No' }}</td>
  </tr>
  </tbody>
</table>
